@media only screen and (min-width: 480px)  {
    .card {
        background-position-y: bottom;
    }
}

.card {
    width:100vw;
    height:100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position-x: center;
}

.card-inner {
    margin-top: 60vh;
    margin-left: 5vw;
}

.card-inner h3 {
    margin: 0;
    font-size: calc(40px + 2vw);
}

.card-inner p {
    margin: 0;
    font-size: calc(5px + 0.4w);
}

.card-btn {
    margin-top:30px;
    border: solid rgba(210, 210, 210, 0.7) 2px;
    background-color: transparent;
    color:whitesmoke;
    padding: 12px;
    padding-inline: 28px;
    border-radius: 4px;
    font-size: 14px;
    display: block;
    /* Animation on hover */
    background: linear-gradient(45deg, whitesmoke 50%, transparent 50%);
    background-size: 300% 200%;
    background-position: right bottom;
    transition: all 900ms cubic-bezier(0.23, 1, 0.320, 1);
}

.card-btn:hover {
    color:rgb(28, 28, 28);
    background-position: left bottom;
}