.main-root {
    background-color: #0b0911;
    width:100vw;
    height:100vh;
    overflow-x: none;
}

.parallax-container {
    transition: 600ms;
    transition-timing-function: ease-in-out;
}

.parallax {
    width:100vw;
    height:120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.parallax-0 { background-image: url("../Images/Home/parallax0.png"); }
.parallax-1 { background-image: url("../Images/Home/parallax1.png"); }
.parallax-2 { background-image: url("../Images/Home/parallax2.png"); }
.parallax-3 { background-image: url("../Images/Home/parallax3.png"); }
.parallax-4 { background-image: url("../Images/Home/parallax4.png"); }
.parallax-bg { background-image: url("../Images/Home/parallax4.png"); }

.parallax-logo {
    background-image: url("../Images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-inline: auto;
    margin-top: 30vh;
    width: 30vw;
    min-width: 280px;
    height: 40vh;
}

.parallax-outer {
    height: 120vh;
}

.contents {
    width: 100vw;
    height: 720vh;
    background-color: #0b0911;
}

#parallax-rocket {
    margin-top:52vh;
    background-image: url("../Images/Home/homerocket5.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100vw;
    background-position: center;
}

.seperator {
    height: 160vh;
    width: 100vw;
}

.seperator-top {
    height: 100vh;
    width: 100vw;
}

.content {
    height:2.5vh;
    width: 100vw;
}

.content-bottom {
    height:45vh;
    width: 100vw;
}

.contents-div {
    background-size: cover;
    background-position: center;
    position: fixed;
    display: none;
}

.company-div { background-image: url("../Images/Home/company.png"); }
.company-details-div { background-image: url("../Images/Home/companydetails.jpg"); }
.ceo-div { background-image: url("../Images/Home/ceo.jpg"); }
.contactus-bg { background-image: url("../Images/Home/contactus.jpg"); }

.home-header {
    min-width: 350px;
    width: 40vw;
    height: 40vh;
    margin-top: 58vh;
    margin-left: 5vw;
}

.home-header h1 {
    font-size: calc(35px + 1.7vw);
    margin: 0;
}

.home-header h4 {
    margin: 0;
}

.home-header p {
    margin-top: 25px;
}

.contactus-header {
    text-align: center;
    position: fixed;
    transition: 600ms;
    transition-timing-function: ease-in-out;
}

.contactus-header h1 {
    font-size: calc(35px + 1.7vw);
    margin: 0;
}

.contactus-header h4 {
    margin: 0;
}

.contactus-btn {
    position: fixed;
    display: none;
}

.contactus-btn {
    transition: 600ms;
    transition-timing-function: ease-in-out;
    width: 8vw;
    justify-content: space-between;
    left: 46vw;
    top: 50vh;
}

.contactus-btn a img {
    width: 50%;
}

.contactus-div p {
    position: absolute;
    bottom: 2.5vh;
}

.footer-div {
    margin-top:-1px;
    width: 100vw;
    height: 20vh;
}

.footer-content {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 12vh;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 480px)  {
    .home-header {
        margin-top: 54vh;
    }

    .mini-card {
        width: 85vw;
        height: 58vh;
        margin-bottom: 40px;
    }

    .contactus-btn { 
        width: 20vw;
        left: 40vw;
    }

    .contactus-div p {
        bottom: 9vh;
    }

    .footer-content {
        width: 100vw;
        margin-left: 0;
        margin-top: 6vh;
    }

    .search-card img {
        width:35%;
    }

    .search-card-content {
        margin-left: 0%;
    }
}