@font-face {
    font-family: DIN;
    src: url(../Fonts/DIN\ Bold.ttf);
}

@font-face {
    font-family: DIN-regular;
    src: url(../Fonts/DIN.ttf);
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.font-main {
    font-family: DIN;
    color: white;
}

.font-p {
    font-family: DIN-regular;
    color: white;
}

.bg-default {
    background-color: #0b0911;
}

.no-overflow {
    overflow: hidden;
}